*{
    margin: 0;
    padding: 0 auto;
}

body{
    background-color: aqua;
}

.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: aliceblue;
    margin-top: 30px;
    
}