*{    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.caixa{
    height: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.conteudo{
    width: 20%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    background-color: rgb(20, 207, 60);
    border: 1px solid black;
}