*{
    margin: 0;
    padding: 0 auto;
}

body{
    background-color: aqua;
}
header{
    height: 30px;
    background-color: blueviolet;
}

section{
    font-size: 14px;
    text-align: center;
}
.conteudo{
    width: 800px;
    background-color: aliceblue;
}